# Relate to DataSet file
*.jpg
*.txt
*.tgz
*.zip

*.pt

Segmentation/benchmark_RELEASE/*
Segmentation/cls/*
Segmentation/img/*
Segmentation/inst/*
Segmentation/results/*

Detection/annotations/*
Detection/images/*
Detection/test_annotations/*
Detection/test_images/*
Detection/dataset*