**/__pycache__/

# Relate to DataSet file
Segmentation/benchmark_RELEASE/*
Segmentation/cls/*
Segmentation/img/*
Segmentation/inst/*
Segmentation/results/*

Detection/annotations/*
Detection/images/*
Detection/test_annotations/*
Detection/test_images/*
Detection/dataset*

3D_Reconstruction/output/*